flows/copadoCrtRpa__Run_CRT.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Run_CRT_Automation</name>
        <label>Run CRT Automation</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>copadoCrtRpa__RunCrtAutomation</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>AssignFaultErrorMessage</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>suiteId</name>
            <value>
                <elementReference>suiteId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>resultId</name>
            <value>
                <elementReference>resultId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>projectId</name>
            <value>
                <elementReference>projectId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>copadoCrtRpa__RunCrtAutomation</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <description>This variable assignment is introduced to use the output variable in the assert statement (RunCrtTestsActionTest.callForApexException()) to capture the fault flow scenario when apex error is thrown from previous apex action.</description>
        <name>AssignFaultErrorMessage</name>
        <label>Assign Fault Error Message</label>
        <locationX>440</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>faultErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Publish_Error_Event</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Run CRT {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Run CRT</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Run_CRT_Automation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Publish_Error_Event</name>
        <label>Publish Error Event</label>
        <locationX>440</locationX>
        <locationY>350</locationY>
        <flowName>copadoCrtRpa__Publish_Copado_Event</flowName>
        <inputAssignments>
            <name>data</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>isSuccess</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>resultId</name>
            <value>
                <elementReference>resultId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>faultErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Flow.FaultMessage</elementReference>
        </value>
    </variables>
    <variables>
        <name>projectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>resultId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>suiteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
