flows/Grab_Task_Owner.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>TaskOwnerTextgrab</name>
        <label>TaskOwnerTextgrab</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>TaskOwnerText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.copado__dataJSON__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Task_Owner_User</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>GrabTaskOwner</name>
        <dataType>String</dataType>
        <expression>MID({!TaskOwnerText}, FIND(&quot;:&quot;,{!TaskOwnerText},FIND(&quot;Task_Owner&quot;, {!TaskOwnerText}))+2, 15)</expression>
    </formulas>
    <interviewLabel>Grab_Task_Owner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Grab_Task_Owner</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Task_Owner_User</name>
        <label>Get Task Owner User</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Task_Owner_Lookup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GrabTaskOwner</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Task_Owner_Lookup</name>
        <label>Set Task Owner Lookup</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Task_Owner__c</field>
            <value>
                <elementReference>Get_Task_Owner_User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>TaskOwnerTextgrab</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Manual Task</stringValue>
            </value>
        </filters>
        <object>copado__Deployment_Task__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>TaskOwnerText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
